.wp-block-iwp-team-members {
  display: block;
  margin-left: 0;
  margin-right: 0;

  @for $i from 1 through 6 {
    &.col-#{$i} {
      [data-type="iwp/team-member"] {
        width: calc(100% / #{$i});
      }
    }
  }

  > .block-editor-inner-blocks > .block-editor-block-list__layout {
    display: flex;
    flex-wrap: wrap;

    .block-list-appender {
      width: 100%;
    }

    > [data-type="iwp/team-member"] {
      max-width: none;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .wp-block-iwp-team-member {
    margin: 0;
    width: auto !important;
  }
}