.wp-block-iwp-team-members {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;

  @for $i from 1 through 6 {
    &.col-#{$i} {
      .wp-block-iwp-team-member {
        width: calc(100% / #{$i} - 20px);
      }
    }
  }

  .wp-block-iwp-team-member {
    margin: 10px;

    .title {
      color: #222;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 0;
    }

    .info {
      color: #565656;
      font-weight: 300;
      margin-bottom: 5px;
    }
  }
}