/*!************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/js/components/fs/style.scss ***!
  \************************************************************************************************************************************************************************************************/

/*!**********************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/js/components/team-members/style.scss ***!
  \**********************************************************************************************************************************************************************************************************/.wp-block-iwp-team-members{display:flex;flex-wrap:wrap;margin-left:-10px;margin-right:-10px}.wp-block-iwp-team-members.col-1 .wp-block-iwp-team-member{width:calc(100% - 20px)}.wp-block-iwp-team-members.col-2 .wp-block-iwp-team-member{width:calc(50% - 20px)}.wp-block-iwp-team-members.col-3 .wp-block-iwp-team-member{width:calc(33.33333% - 20px)}.wp-block-iwp-team-members.col-4 .wp-block-iwp-team-member{width:calc(25% - 20px)}.wp-block-iwp-team-members.col-5 .wp-block-iwp-team-member{width:calc(20% - 20px)}.wp-block-iwp-team-members.col-6 .wp-block-iwp-team-member{width:calc(16.66667% - 20px)}.wp-block-iwp-team-members .wp-block-iwp-team-member{margin:10px}.wp-block-iwp-team-members .wp-block-iwp-team-member .title{color:#222;font-size:18px;font-weight:700;margin-bottom:0}.wp-block-iwp-team-members .wp-block-iwp-team-member .info{color:#565656;font-weight:300;margin-bottom:5px}
/*# sourceMappingURL=style.css.map*/